.toolbar{
    height:40px;
    background-color:beige;
  }
  .Bdayimg{
    height: 600px;
    width:1000px;
    margin-left: 200px;
    padding-left: 70px;
  }
  .events{
    background-color: gainsboro;
    height:1000px;
  }
  .bdayquote{
    font-family: cursive;
  }
  
  .cake{
    height: 400px;
    width: 250px;
    background-color: burlywood;
   margin-left: 200px;
    margin-top: 20px;
    border-radius: 10px;
    text-align: center;
    display: inline-block;
  }
  .cakeimg{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    }